body{
    background-color: black;
}

.container{
    margin: auto;
}

#maze{
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

#maze td{
    width: 32px;
    height: 32px;
}

.selected{
    filter: saturate(var(--value, 5));
    filter: contrast(var(--value, 5))
}

.wall{
    background-image: url("./sprite5.png");
    background-size: contain;
}

.visited{
    background-image: url("./sprite2.png");
    background-size: contain;
}

.unvisited{
    background-image: url("./sprite3.png");
    background-size: contain;
}

input, button{
    border: 1px solid yellow; 
    color: yellow;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    padding: 15px;
}

label{
    color: yellow;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    padding: 15px;
}

input{
    width: 50px;
}